.card_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    width: 300px;
    border: 1px solid blue;
}

.card_inner {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card_content img {
    width: 200px;
    height: 200px;
    margin-bottom: 29px;
}

.card_buttons {
    display: flex;
    flex-direction: column;
}

.card_buttons button {
    margin-bottom: 10px;
}
