.page_wrapper {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-areas:
        'header'
        'content'
        'footer';
    grid-template-rows: 70px calc(100% - 170px) 100px;
}
